# Pandas - SQL

In [1]:
import pandas as pd
import sqlalchemy
import pymssql

In [2]:
# Criando a conexão com o banco de dados MS SQL Server

engine = sqlalchemy.create_engine('mssql+pymssql://sa:Rsx19851201@localhost:1433/AdventureWorks2016')

## Método read_sql_table

#### Paramentros do método read_sql_table

* **table_name** = Nome da tabela onde será feita a leitura dos dados.
* **con** = Objeto conexão criado pelo SQLAlchemy.
* **schema**= Schema onde a tabela está armazenada.
* **index_col** = Coluna a ser definida como index.
<br>...

In [3]:
df_table = pd.read_sql_table('SalesOrderHeader', engine)
df_table.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,46514,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46514,None,10-4030-019028,...,4917.0,632604Vi25804,NaN,699.10,55.93,17.48,772.50,None,d0ace381-059a-401c-adb0-6dd94f1d7710,2012-05-25
1,46515,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46515,None,10-4030-019904,...,17999.0,132608Vi93384,NaN,699.10,55.93,17.48,772.50,None,479dcfcf-c2cc-48a2-bac0-4c5f2cad013f,2012-05-25
2,46516,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46516,None,10-4030-026116,...,6886.0,233244Vi35884,NaN,3374.99,270.00,84.37,3729.36,None,39c68292-6daf-47b3-a255-cfb9046aba7b,2012-05-25
3,46517,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46517,None,10-4030-020624,...,16582.0,1134209Vi85864,4253.0,3578.27,286.26,89.46,3953.99,None,942a6d75-9d27-4487-a0ee-59fc962e6a68,2012-05-25
4,46518,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46518,None,10-4030-020814,...,1194.0,435024Vi6044,4253.0,3578.27,286.26,89.46,3953.99,None,f1312f45-e903-4db4-821c-acad2384789b,2012-05-25

In [4]:
df_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31465 entries, 0 to 31464
Data columns (total 26 columns):
SalesOrderID              31465 non-null int64
RevisionNumber            31465 non-null int64
OrderDate                 31465 non-null datetime64[ns]
DueDate                   31465 non-null datetime64[ns]
ShipDate                  31465 non-null datetime64[ns]
Status                    31465 non-null int64
OnlineOrderFlag           31465 non-null bool
SalesOrderNumber          31465 non-null object
PurchaseOrderNumber       3806 non-null object
AccountNumber             31465 non-null object
CustomerID                31465 non-null int64
SalesPersonID             3806 non-null float64
TerritoryID               31465 non-null int64
BillToAddressID           31465 non-null int64
ShipToAddressID           31465 non-null int64
ShipMethodID              31465 non-null int64
CreditCardID              30334 non-null float64
CreditCardApprovalCode    30334 non-null object
CurrencyRateID            13976 non-null float64
SubTotal                  31465 non-null float64
TaxAmt                    31465 non-null float64
Freight                   31465 non-null float64
TotalDue                  31465 non-null float64
Comment                   0 non-null object
rowguid                   31465 non-null object
ModifiedDate              31465 non-null datetime64[ns]
dtypes: bool(1), datetime64[ns](4), float64(7), int64(8), object(6)
memory usage: 6.0+ MB

In [5]:
df_table = pd.read_sql_table('SalesOrderHeader', engine, columns=["SalesOrderID","OrderDate","Status","TotalDue"])
df_table.head()

   SalesOrderID  OrderDate  Status  TotalDue
0         46514 2012-05-18       5    772.50
1         46515 2012-05-18       5    772.50
2         46516 2012-05-18       5   3729.36
3         46517 2012-05-18       5   3953.99
4         46518 2012-05-18       5   3953.99

## Método:  read_sql_query
#### Paramentros do método read_sql_query

* **sql** = String SQL Query que deverá ser executada para retornar o conjunto de dados.
* **con** = Objeto conexão criado pelo SQLAlchemy.
* **index_col** = Coluna a ser definida como index.
* **params**= Lista de parametros para serem passados ao método.
<br>...

In [6]:
df_query = pd.read_sql_query('Select * from SalesOrderHeader', engine)
df_query.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,46514,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46514,None,10-4030-019028,...,4917.0,632604Vi25804,NaN,699.10,55.93,17.48,772.50,None,d0ace381-059a-401c-adb0-6dd94f1d7710,2012-05-25
1,46515,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46515,None,10-4030-019904,...,17999.0,132608Vi93384,NaN,699.10,55.93,17.48,772.50,None,479dcfcf-c2cc-48a2-bac0-4c5f2cad013f,2012-05-25
2,46516,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46516,None,10-4030-026116,...,6886.0,233244Vi35884,NaN,3374.99,270.00,84.37,3729.36,None,39c68292-6daf-47b3-a255-cfb9046aba7b,2012-05-25
3,46517,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46517,None,10-4030-020624,...,16582.0,1134209Vi85864,4253.0,3578.27,286.26,89.46,3953.99,None,942a6d75-9d27-4487-a0ee-59fc962e6a68,2012-05-25
4,46518,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46518,None,10-4030-020814,...,1194.0,435024Vi6044,4253.0,3578.27,286.26,89.46,3953.99,None,f1312f45-e903-4db4-821c-acad2384789b,2012-05-25

In [7]:
consulta1 = '''
Select * 
from SalesOrderHeader
join SalesOrderDetail
on SalesOrderHeader.SalesOrderID = SalesOrderDetail.SalesOrderID
'''

In [8]:
df_query1 = pd.read_sql_query(consulta1,engine)
df_query1.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11315,F512-40F2-91,2,861,1,22.79,0.0,45.5880,5372515a-457c-45c7-95bd-34af7dbcf948,2012-05-30
1,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11316,F512-40F2-91,4,782,1,1229.46,0.0,4917.8356,e05b4e6b-826c-497a-886a-9bd2165a6496,2012-05-30
2,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11317,F512-40F2-91,10,716,1,28.84,0.0,288.4040,d5e67e0f-3295-4401-9586-f0beb7f4b1ac,2012-05-30
3,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11318,F512-40F2-91,2,859,1,14.13,0.0,28.2578,f16a9ecf-5549-4c74-ac13-d84817025fb3,2012-05-30
4,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11319,F512-40F2-91,1,739,1,744.27,0.0,744.2727,8a1c9e72-c9fe-4159-87bc-da452b2ee25b,2012-05-30

#### Criando um DataFrame apartir de uma query utilizando parametros dinâmicos.

In [9]:
consulta2 = '''
Select * 
from SalesOrderHeader
join SalesOrderDetail
on SalesOrderHeader.SalesOrderID = SalesOrderDetail.SalesOrderID
where year(SalesOrderHeader.OrderDate) = %s
'''

In [10]:
df_query2 = pd.read_sql_query(consulta2, engine, params=[2012])
df_query2.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11315,F512-40F2-91,2,861,1,22.79,0.0,45.5880,5372515a-457c-45c7-95bd-34af7dbcf948,2012-05-30
1,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11316,F512-40F2-91,4,782,1,1229.46,0.0,4917.8356,e05b4e6b-826c-497a-886a-9bd2165a6496,2012-05-30
2,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11317,F512-40F2-91,10,716,1,28.84,0.0,288.4040,d5e67e0f-3295-4401-9586-f0beb7f4b1ac,2012-05-30
3,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11318,F512-40F2-91,2,859,1,14.13,0.0,28.2578,f16a9ecf-5549-4c74-ac13-d84817025fb3,2012-05-30
4,46630,8,2012-05-30,2012-06-11,2012-06-06,5,False,SO46630,PO12644161356,10-4020-000530,...,11319,F512-40F2-91,1,739,1,744.27,0.0,744.2727,8a1c9e72-c9fe-4159-87bc-da452b2ee25b,2012-05-30

#### Criando um DataFrame apartir de uma query utilizando parametros nomeados.

In [11]:
consulta3 = '''
Select top 10 * 
from SalesOrderHeader
where OrderDate >= %(data_inicial)s and OrderDate <= %(data_final)s
'''

In [12]:
df_query3 = pd.read_sql_query(consulta3, 
                       engine,
                       params={'data_inicial':'2000-01-01',
                                'data_final':'2012-12-31'}
                      )
df_query3.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,46514,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46514,None,10-4030-019028,...,4917.0,632604Vi25804,NaN,699.10,55.93,17.48,772.50,None,d0ace381-059a-401c-adb0-6dd94f1d7710,2012-05-25
1,46515,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46515,None,10-4030-019904,...,17999.0,132608Vi93384,NaN,699.10,55.93,17.48,772.50,None,479dcfcf-c2cc-48a2-bac0-4c5f2cad013f,2012-05-25
2,46516,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46516,None,10-4030-026116,...,6886.0,233244Vi35884,NaN,3374.99,270.00,84.37,3729.36,None,39c68292-6daf-47b3-a255-cfb9046aba7b,2012-05-25
3,46517,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46517,None,10-4030-020624,...,16582.0,1134209Vi85864,4253.0,3578.27,286.26,89.46,3953.99,None,942a6d75-9d27-4487-a0ee-59fc962e6a68,2012-05-25
4,46518,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46518,None,10-4030-020814,...,1194.0,435024Vi6044,4253.0,3578.27,286.26,89.46,3953.99,None,f1312f45-e903-4db4-821c-acad2384789b,2012-05-25

## Método:  read_sql

#### Faz a mesclagem entre os métodos read_table e read_sql_query. Tanto faz usar um ou outro.

* **sql** = String SQL Query que deverá ser executada para retornar o conjunto de dados.
* **con** = Objeto conexão criado pelo SQLAlchemy.
* **index_col** = Coluna a ser definida como index.
* **params**= Lista de parametros para serem passados ao método.
<br>...

In [13]:
df_table2 = pd.read_sql('SalesOrderHeader',engine)

In [14]:
df_table2.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,46514,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46514,None,10-4030-019028,...,4917.0,632604Vi25804,NaN,699.10,55.93,17.48,772.50,None,d0ace381-059a-401c-adb0-6dd94f1d7710,2012-05-25
1,46515,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46515,None,10-4030-019904,...,17999.0,132608Vi93384,NaN,699.10,55.93,17.48,772.50,None,479dcfcf-c2cc-48a2-bac0-4c5f2cad013f,2012-05-25
2,46516,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46516,None,10-4030-026116,...,6886.0,233244Vi35884,NaN,3374.99,270.00,84.37,3729.36,None,39c68292-6daf-47b3-a255-cfb9046aba7b,2012-05-25
3,46517,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46517,None,10-4030-020624,...,16582.0,1134209Vi85864,4253.0,3578.27,286.26,89.46,3953.99,None,942a6d75-9d27-4487-a0ee-59fc962e6a68,2012-05-25
4,46518,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46518,None,10-4030-020814,...,1194.0,435024Vi6044,4253.0,3578.27,286.26,89.46,3953.99,None,f1312f45-e903-4db4-821c-acad2384789b,2012-05-25

In [15]:
df_query = pd.read_sql('SELECT top 15 * FROM SalesOrderHeader',engine)
df_query.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,46514,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46514,None,10-4030-019028,...,4917.0,632604Vi25804,NaN,699.10,55.93,17.48,772.50,None,d0ace381-059a-401c-adb0-6dd94f1d7710,2012-05-25
1,46515,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46515,None,10-4030-019904,...,17999.0,132608Vi93384,NaN,699.10,55.93,17.48,772.50,None,479dcfcf-c2cc-48a2-bac0-4c5f2cad013f,2012-05-25
2,46516,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46516,None,10-4030-026116,...,6886.0,233244Vi35884,NaN,3374.99,270.00,84.37,3729.36,None,39c68292-6daf-47b3-a255-cfb9046aba7b,2012-05-25
3,46517,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46517,None,10-4030-020624,...,16582.0,1134209Vi85864,4253.0,3578.27,286.26,89.46,3953.99,None,942a6d75-9d27-4487-a0ee-59fc962e6a68,2012-05-25
4,46518,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46518,None,10-4030-020814,...,1194.0,435024Vi6044,4253.0,3578.27,286.26,89.46,3953.99,None,f1312f45-e903-4db4-821c-acad2384789b,2012-05-25

## Método:  to_sql

#### Salva o DataFrame no Banco de Dados Relacional.

In [16]:
df_query.head()

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,46514,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46514,None,10-4030-019028,...,4917.0,632604Vi25804,NaN,699.10,55.93,17.48,772.50,None,d0ace381-059a-401c-adb0-6dd94f1d7710,2012-05-25
1,46515,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46515,None,10-4030-019904,...,17999.0,132608Vi93384,NaN,699.10,55.93,17.48,772.50,None,479dcfcf-c2cc-48a2-bac0-4c5f2cad013f,2012-05-25
2,46516,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46516,None,10-4030-026116,...,6886.0,233244Vi35884,NaN,3374.99,270.00,84.37,3729.36,None,39c68292-6daf-47b3-a255-cfb9046aba7b,2012-05-25
3,46517,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46517,None,10-4030-020624,...,16582.0,1134209Vi85864,4253.0,3578.27,286.26,89.46,3953.99,None,942a6d75-9d27-4487-a0ee-59fc962e6a68,2012-05-25
4,46518,8,2012-05-18,2012-05-30,2012-05-25,5,True,SO46518,None,10-4030-020814,...,1194.0,435024Vi6044,4253.0,3578.27,286.26,89.46,3953.99,None,f1312f45-e903-4db4-821c-acad2384789b,2012-05-25

#### Paramentros do método to_sql.

* **name** = Nome da tabela que será criada no SGBD.
* **con** = Objeto conexão criado pelo SQLAlchemy.
* **schema** = Nome do Schema onde será criada a tabela.
* **if_exists**= Comportamento caso a tabela exista no SGBD.
* **index**= Escreve o índice do DataFrame como uma coluna da tabela.
* **index_label**= Nome da coluna de índice.

**Criando a tabela no Banco de Dados a partir do DataFrame.**

In [17]:
df_query.to_sql(
    name = 'tb_table',
    con = engine,
)

**Criando a tabela no Banco de Dados sem a coluna de índice.**

In [18]:
df_query.to_sql(
    name = 'tb_table',
    con = engine,
    index = False,
    if_exists ='append'
)