# Tuplas

In [1]:
# As tuplas usam parenteses () e são imutaveis, não consigo fazer alterações
t = ('agua','caderno','computador',152, 6.8)
t

('agua', 'caderno', 'computador', 152, 6.8)

In [2]:
t[2] = 'Teste'

TypeError: 'tuple' object does not support item assignment

# Operações

In [3]:
t3 = t * 2

In [4]:
t3

('agua',
 'caderno',
 'computador',
 152,
 6.8,
 'agua',
 'caderno',
 'computador',
 152,
 6.8)

In [5]:
#Concatenando Tuplas
tconcat = t + t1

NameError: name 't1' is not defined

In [6]:
tconcat

NameError: name 'tconcat' is not defined

In [7]:
#Verifica se existe o valor na tupla
152 in tconcat

NameError: name 'tconcat' is not defined

# Slicing

In [8]:
# Slicing Tupla
t[1], t[3]

('caderno', 152)

In [9]:
t[2:]

('computador', 152, 6.8)

In [10]:
t[1:-1]

('caderno', 'computador', 152)

# Métodos

In [11]:
# Conta um elemento
t.count('caderno')

1

In [12]:
# Retorna a posição do indice.
t.index(152)

3

In [13]:
# Tamanho da tupla
len(t)

5

In [14]:
# Maior valor 
t5 = (2,3,4,128787,90.0)
max(t5)

128787

In [15]:
# Menor valor
min(t5)

2

In [16]:
# Lista para tupla
l = [65, 'Rodrigo', 3.5, 'monitor', 74]

In [17]:
t6 = tuple(l)

In [18]:
t6

(65, 'Rodrigo', 3.5, 'monitor', 74)

In [19]:
type(t6)

tuple

# Tuplas aninhandas

In [20]:
t1 = (3,(2,5,6),1)

In [21]:
t1[1]

(2, 5, 6)

In [22]:
t1[1][0]

2